
// Breakpoints
$breakpoints: (
    'mobil': 480px,
    'tablet': 768px,
    'desktop': 1024px,
    'widescreen': 1200px
);

// Tamaño fuentes (de headings)
$headings: (
  'sizes': (
    'h1-font-size': 16px,
    'h2-font-size': 15px,
    'h3-font-size': 14px,
    'h4-font-size': 12px,
    'h5-font-size': 10px,
    'h6-font-size': 8px,
    'h2-font-size-smaller': 14px

  ),
  'fonts': (
    'headings-font-family': unquote("'Playfair Display', Georgia, serif"),
    'headings-color': inherit
  )
);

// Body
$base: (
  'base-font-sans-serif': unquote("Roboto, 'Helvetica Neue', Helvetica, sans-serif"),
  'base-font-serif': unquote("'Times New Roman', Times, Baskerville, Georgia, serif"),
  'secondary-font-serif': unquote("'Playfair Display', Times, Baskerville, Georgia, serif"),
  'btn-font-sans-serif': unquote("'Hammersmith One', 'Helvetica Neue', Helvetica, sans-serif"),
  'base-black': rgba(0,0,0, 1),
  'base-background-color': rgba(255,255,255, 1),
  'base-ofertas': rgba(211,211,211,1),
  'base-rojo': rgba(255, 0, 0, 1),
  'base-link-color': rgba(128,128,128, 1),
  'base-font-size': 12px,
  'base-line-height': 1.2,
  'base-font-family': unquote("Arial, 'Helvetica Neue', Helvetica, sans-serif"),
  'vertical-rhythm': '(map-get($base, base-line-height) * 1em)',
  'base-min-width': 320px
);

//Botones {
$botones: (
  'bg-color': rgba(211,211,211,1),
  'btn-color-border': rgba(128,128,128, 1),
  'btn-font-size':14px,
  'btn-width': 100px,
);

// Navegacion
$nav: (
  'color-nav': rgba(236, 237, 239, 1),
  'base-link-color': rgba(128,128,128, 1),
  'color-active': rgba(0, 74, 89, 1)
);

//  Variables del ancho
$container-width: 1024px !default;
$total-columnas: 12 !default;
$columna-width: 100 / $total-columnas !default; // calculates individual column width based off of # of columnas


// Ajustes para distintas orientaciones, imprimir.. no lo he usado en este caso pero suelen ser importantes tambien
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);
